@media only screen and (max-width: 1012px) {
  #left-section {
    height: auto !important;
  }
  #right-section {
    height: auto !important;
  }

  main {
    flex-wrap: wrap;
  }
  #left-section {
    margin: auto;
    width: 90% !important;
  }
  p {
    margin-right: 10px;
  }
  #header-img {
    margin: auto;
    width: 90%;
  }

  #header-img img {
    margin-top: 20px;
    margin-left: 10px;
    width: 95%;
    height: 60vh;
  }
  #header-description {
    margin: auto;
    width: 90%;
    padding-top: 20px;
  }
  #cold-play {
    margin: auto !important;
    width: 87%;
    display: flex;
    justify-content: space-between !important;
    /* border: 2px solid red; */
  }
  #cold-play-description {
    margin-left: 20px;
  }
  h5 {
    margin-top: 6px;
  }
  #play-btn {
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
  }
  #header-description > p {
    margin-left: 20px;
    margin-top: 10px;
  }
  .artist-info {
    padding: 10px;
    margin-bottom: 10px;
  }
  #right-section {
    width: 85%;
    margin-left: 50px;
    overflow-y: scroll;
  }

  .similar-artist {
    margin-top: 10px;
  }

  #footer-left {
    margin-left: 10px;
    justify-content: space-between;
  }

  #footer-left p,
  h5 {
    font-size: 10px;
  }

  #footer-left i {
    font-size: 1rem;
  }
  #playlist-icon i {
    color: white;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 866px) {
  nav span {
    display: none;
    background-color: aqua;
  }
  #footer {
    justify-content: space-between !important;
    /* flex-wrap: wrap; */
  }
  #middle-footer {
    text-align: center;
    width: 55%;
  }
  #footer-left {
    width: 40%;
  }

  #play-bar input {
    color: white;
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  #footer {
    flex-wrap: wrap;
  }
  #middle-footer {
    margin-top: 10px;
    text-align: center;
    width: 53%;
  }
  #footer-left {
    width: 44%;
  }
  #footer-right {
    display: none;
  }
  #footer-left p,
  h5 {
    font-size: 9px;
  }
  footer span {
    font-size: 10px;
  }
}

@media only screen and (max-width: 376px) {
  .fa-bell {
    font-size: 25px;
    padding: 10px;
  }
  #profile-img img {
    width: 50px;
    height: 50px;
  }

  #profile-img {
    padding-right: 10px;
    padding-top: 5px;
  }

  #header-img img {
    height: 40vh;
  }
}
